In [29]:
import boto3
import pandas as pd
import numpy as np
import psycopg2
import configparser
import random
from faker import Faker
fake = Faker()

### NOS IDENTIFICAMOS CON AWS

In [3]:
config=configparser.ConfigParser()
config.read('config_tienda.cfg')

['config_tienda.cfg']

In [4]:
aws_rds_conn=boto3.client('rds',aws_access_key_id=config.get('IAM','ACCES_KEY'),
                           aws_secret_access_key=config.get('IAM','SECRET_ACCES_KEY'),
                           region_name='us-east-1')

### verificamos instancas de aws disponibles

In [5]:
#listando las instancias de aws
rds_instances_ids=[]
aws_response=aws_rds_conn.describe_db_instances()
for response in aws_response['DBInstances']:
    rds_instances_ids.append(response['DBInstanceIdentifier'])
print(f"instancias disponibles:{rds_instances_ids}")

instancias disponibles:['tienda-dw', 'tienda-transactional']

In [6]:
try:
    response=aws_rds_conn.create_db_instance(
                DBInstanceIdentifier=config.get('TRANSACC','DB_INSTANCE_ID'),
                DBName=config.get('TRANSACC','DB_NAME'),
                DBInstanceClass='db.t3.micro',
                Engine='postgres',
                MasterUsername=config.get('TRANSACC','DB_USER'),
                MasterUserPassword=config.get('TRANSACC','DB_PASSWORD'),
                Port=int(config.get('TRANSACC','DB_PORT')),
                PubliclyAccessible=True,
                VpcSecurityGroupIds=[config.get('VPC','SECURITY_GROUP')],
                AllocatedStorage=15
                )
    print(response)
except aws_rds_conn.exceptions.DBInstanceAlreadyExistsFault as ex:
    print("La instancia ya existe")
except Exception as ex:
    print("Error!!!",ex)

La instancia ya existe

### Obtenemos el hostname de las instancias

In [7]:
try:
    instance=aws_rds_conn.describe_db_instances(DBInstanceIdentifier='tienda-transactional')
    RDS_HOSTNAME=instance.get('DBInstances')[0].get('Endpoint').get('Address')
    print(RDS_HOSTNAME)
except Exception as ex:
    print("Error!!!",ex)

tienda-transactional.cbc4e20kwjik.us-east-1.rds.amazonaws.com

### NOS CONECTAMOS A LA BASE DE DATOS DE POSTGRS EN RDS DESDE PYTHON

In [8]:
import ddltienda
ddltienda.DDL_QUERY  #esta instruccion trae todo el archivo de qureys en un string

'\nCREATE TABLE IF NOT EXISTS rol(\n    idrol INT PRIMARY KEY,\n    nombre VARCHAR(30),\n    descripcion varchar(255),\n    estado bit\n);\nCREATE TABLE IF NOT EXISTS usuario(\n    idusuario INT PRIMARY KEY,\n    idrol INT,\n    nombre VARCHAR(100),\n    tipo_documento VARCHAR(20),\n    num_documento VARCHAR(20),\n    direccion VARCHAR(70),\n    telefono VARCHAR(20),\n    email VARCHAR(50), \n    clave bytea,\n    estado bit,\n    CONSTRAINT fk_usuariorol FOREIGN KEY (idrol) REFERENCES rol(idrol)\n);\n\nCREATE TABLE IF NOT EXISTS categoria(\n    idcategoria INT PRIMARY KEY,\n    nombre VARCHAR(50),\n    descripcion varchar(255),\n    estado bit\n);\n\nCREATE TABLE IF NOT EXISTS articulo(\n    idarticulo INT PRIMARY KEY,\n    idcategoria int,\n    codigo varchar(50) UNIQUE,\n    nombre VARCHAR(100),\n    precio_venta decimal(11,2),\n    stock int,\n    descripcion varchar(255),\n    imagen varchar(20),\n    estado bit,\n    CONSTRAINT fk_articulocategoria FOREIGN KEY (idcategoria) REFERENCES categoria(idcategoria)\n);\n\nCREATE TABLE IF NOT EXISTS persona(\n    idpersona INT PRIMARY KEY,\n    tipo_persona varchar(20),\n    nombre varchar(20),\n    tipo_documento varchar(20),\n    num_documento varchar(20),\n    direccion varchar(70),\n    telefono varchar(20),\n    email varchar(50)\n);\n\n\nCREATE TABLE IF NOT EXISTS ingreso(\n    idingreso INT PRIMARY KEY,\n    idproveedor int,\n    idusuario int,\n    tipo_comprobante varchar(20),\n    serie_comprobante VARCHAR(7),\n    num_comprobante VARCHAR(10),\n    fecha timestamp,\n    impuesto decimal(4,2),\n    total decimal(11,2),\n    estado varchar(20),\n    CONSTRAINT fk_ingresopersona FOREIGN KEY (idproveedor) REFERENCES persona(idpersona),\n    CONSTRAINT fk_ingresousuario FOREIGN KEY (idusuario) REFERENCES usuario(idusuario)\n);\n\n\nCREATE TABLE IF NOT EXISTS detalle_ingreso(\n    iddetalle_ingreso INT PRIMARY KEY,\n    idingreso int,\n    idarticulo int,\n    cantidad int,\n    precio decimal(11,2),\n    CONSTRAINT fk_detalleingreso FOREIGN KEY (idingreso) REFERENCES ingreso(idingreso),\n    CONSTRAINT fk_detallearticulo FOREIGN KEY (idarticulo) REFERENCES articulo(idarticulo)\n);\n\n\n\nCREATE TABLE IF NOT EXISTS venta(\n    idventa INT PRIMARY KEY,\n    idcliente int,\n    idusuario int,\n    tipo_comprobante varchar(20),\n    serie_comprobante VARCHAR(7),\n    num_comprobante VARCHAR(10),\n    fecha timestamp,\n    impuesto decimal(4,2),\n    total decimal(11,2),\n    estado varchar(20),\n    CONSTRAINT fk_ventapersona FOREIGN KEY (idcliente) REFERENCES persona(idpersona),\n    CONSTRAINT fk_ventausuario FOREIGN KEY (idusuario) REFERENCES usuario(idusuario)\n);\n\n\nCREATE TABLE IF NOT EXISTS detalle_venta(\n    iddetalle_venta INT PRIMARY KEY,\n    idventa int,\n    idarticulo int,\n    cantidad int,\n    precio decimal(11,2),\n    descuento decimal(4,2),\n    CONSTRAINT fk_detalledetalleventa2 FOREIGN KEY (idventa) REFERENCES venta(idventa),\n    CONSTRAINT fk_detalleventaarticulo2 FOREIGN KEY (idarticulo) REFERENCES articulo(idarticulo)\n);\n\n'

In [9]:
try:
    db_pg_conn=psycopg2.connect(
                        database=config.get('TRANSACC','DB_NAME'),
                        user=config.get('TRANSACC','DB_USER'),
                        password=config.get('TRANSACC','DB_PASSWORD'),
                        host=RDS_HOSTNAME,
                        port=config.get('TRANSACC','DB_PORT'),
                    )
    cursor=db_pg_conn.cursor()
    cursor.execute(ddltienda.DDL_QUERY)
    db_pg_conn.commit()
    print("base de datos creada exitosamente")
except Exception as ex:
    print("Error!!",ex)

base de datos creada exitosamente

### insertamos datos en la base de datos y es necesario instalar pip install sqlalchemy

In [8]:
def insertData2SQL(data_dict,table_name,driver):
    df_data=pd.DataFrame.from_records(data_dict)
    try:
        response=df_data.to_sql(table_name,driver,index=False,if_exists='append')
        print(f"Se han insertado {response} nuevos registros")
    except Exception as ex:
        print("Error!!",ex)

In [9]:
driver = f"""postgresql://{config.get('TRANSACC', 'DB_USER')}:{config.get('TRANSACC', 'DB_PASSWORD')}@{RDS_HOSTNAME}:{config.get('TRANSACC', 'DB_PORT')}/{config.get('TRANSACC', 'DB_NAME')}"""
driver

'postgresql://postgres_admin:p8F94pptIh43Pz26r5BgYfV4r@tienda-transactional.cbc4e20kwjik.us-east-1.rds.amazonaws.com:5432/tienda'

### POBLANDO LA TABLA DE CATEGORIA

In [23]:
data_categoria = [
     {'idcategoria': 1, 'nombre': 'Tecnologia','descripcion': 'Tecnologia','estado':   '1' }, 
     {'idcategoria': 2, 'nombre': 'Hogar','descripcion': 'Productos para el hogar','estado':  '1' },     
     {'idcategoria': 3, 'nombre': 'Jardin','descripcion': 'Jardin','estado':  '1' }, 
     {'idcategoria': 4, 'nombre': 'Carpinteria','descripcion': 'Carpinteria','estado':  '1' }
]
#insertamos data en la tabla CATEGORIA (la data la mandamos como diccionario de datos\
insertData2SQL(data_categoria,'categoria',driver)

Se han insertado 4 nuevos registros

### POBLANDO LA TABLA DE  ARTICULO

In [11]:
data_articulo = [
     {'idarticulo': 1,'idcategoria': 1, 'codigo': '1010','nombre': 'LAPTOP DELL','precio_venta':6500,'stock': 10,'descripcion': 'COMPUTDARORA DELL','estado': '1' }, 
     {'idarticulo': 2,'idcategoria': 1, 'codigo': '1020','nombre': 'IPHONE 14','precio_venta':10000,'stock': 14,'descripcion': 'TELEFONO IPHONO 14 DELL','estado': '1' },
     {'idarticulo': 3,'idcategoria': 2, 'codigo': '2010','nombre': 'LAMPARA DE PIE','precio_venta':450,'stock': 24,'descripcion': 'LAMPARA DE PIE PARA SALA','estado': '1' }, 
     {'idarticulo': 4,'idcategoria': 2, 'codigo': '2020','nombre': 'NACIMIENTO','precio_venta':7200,'stock': 4,'descripcion': 'NACIMIENTO COMPLETO NAVIDAD','estado': '1' }, 
     {'idarticulo': 5,'idcategoria': 3, 'codigo': '3010','nombre': 'PODADORA','precio_venta':2400,'stock': 3,'descripcion': 'PODADORA ELECTRICA','estado': '1' }, 
     {'idarticulo': 6,'idcategoria': 3, 'codigo': '3020','nombre': 'MANGUERA 3MTS','precio_venta':250,'stock': 23,'descripcion': 'MANGUERA ENCOGIBLE DE 3MTS','estado': '1' }, 
     {'idarticulo': 7,'idcategoria': 4, 'codigo': '4010','nombre': 'MARTILLO METALK','precio_venta':45,'stock': 40,'descripcion': 'MARTILLO METAL FINO','estado': '1' }, 
     {'idarticulo': 8,'idcategoria': 4, 'codigo': '4020','nombre': 'SERRUCHO','precio_venta':68,'stock': 10,'descripcion': 'SERRUCHO PARA MADERA GRANDE','estado': '1' }
]
#insertamos data en la tabla CATEGORIA (la data la mandamos como diccionario de datos
insertData2SQL(data_articulo,'articulo',driver)

Se han insertado 8 nuevos registros

### POOBLANDO LA TABLA DE PERSONA

In [12]:
data_persona = [
     {'idpersona': 1,'tipo_persona': 'cliente', 'nombre': 'Jose Perez','tipo_documento': 'dpi','num_documento':'1111111111111','direccion': 'zona 1','telefono': '50211111111','email': 'joseperez@gmail.com' }, 
     {'idpersona': 2,'tipo_persona': 'cliente', 'nombre': 'Luis Martinez','tipo_documento': 'dpi','num_documento':'2222222222222','direccion': 'zona 2','telefono': '50222222222','email': 'luismartinez@gmail.com' }, 
     {'idpersona': 3,'tipo_persona': 'cliente', 'nombre': 'Karla Gomez','tipo_documento': 'dpi','num_documento':'3333333333333','direccion': 'zona 3','telefono': '50233333333','email': 'karlagomez@gmail.com' }, 
     {'idpersona': 4,'tipo_persona': 'proveedor', 'nombre': 'Distelsa','tipo_documento': 'dpi','num_documento':'444444444444','direccion': 'zona 4','telefono': '50244444444','email': 'distelsa@gmail.com' }, 
     {'idpersona': 5,'tipo_persona': 'proveedor', 'nombre': 'Intelaf','tipo_documento': 'dpi','num_documento':'555555555555','direccion': 'zona 5','telefono': '50255555555','email': 'intelaf@gmail.com' }, 
     {'idpersona': 6,'tipo_persona': 'proveedor', 'nombre': 'cemaco','tipo_documento': 'dpi','num_documento':'6666666666666','direccion': 'zona 6','telefono': '50266666666','email': 'cemaco@gmail.com' }
]
#insertamos data en la tabla CATEGORIA (la data la mandamos como diccionario de datos
insertData2SQL(data_persona,'persona',driver)

Se han insertado 6 nuevos registros

### POBLANDO LA TABLA DE ROL

In [15]:
data_rol = [
     {'idrol': 1, 'nombre': 'administrador','descripcion': 'Administrador del sistema','estado':   '1' }, 
     {'idrol': 2, 'nombre': 'operador','descripcion': 'usuario del sistema','estado':   '1' }, 
     {'idrol': 3, 'nombre': 'soporte','descripcion': 'usuario de ayuda al operario','estado':   '1' }
]
#insertamos data en la tabla CATEGORIA (la data la mandamos como diccionario de datos\
insertData2SQL(data_rol,'rol',driver)

Se han insertado 3 nuevos registros

### POBLANDO LA TABLA USUARIO

In [21]:
data_usuario = [
     {'idusuario': 1,'idrol': 1, 'nombre': 'Caros Gomez','clave': '123456','estado':'1'}, 
     {'idusuario': 2,'idrol': 2, 'nombre': 'Luis Lopez','clave': '123456','estado':'1'}, 
     {'idusuario': 3,'idrol': 2, 'nombre': 'Maria gonzalez','clave': '123456','estado':'1'},
     {'idusuario': 4,'idrol': 3, 'nombre': 'Roberto Castro','clave': '123456','estado':'1'} 
]
#insertamos data en la tabla CATEGORIA (la data la mandamos como diccionario de datos\
insertData2SQL(data_usuario,'usuario',driver)

Se han insertado 4 nuevos registros

### POBLANDO LAS VENTAS

In [27]:
#creando un diccionario solo con personas tipo cliente
data_clientes = [persona for persona in data_persona if persona['tipo_persona'] == 'cliente']
#creando un diccionario solo con usuarios operadores
data_operadores = [usuario for usuario in data_usuario if usuario['idrol'] == 2]
data_operadores

[{'idusuario': 2,
  'idrol': 2,
  'nombre': 'Luis Lopez',
  'clave': '123456',
  'estado': '1'},
 {'idusuario': 3,
  'idrol': 2,
  'nombre': 'Maria gonzalez',
  'clave': '123456',
  'estado': '1'}]

In [47]:
# se insertan fechas generada aleatorias del anio 2015 al 2020
import uuid
from datetime import datetime, timedelta
fecha_actual = datetime(2020, 12, 31)
fecha_inicio = fecha_actual - timedelta(days=365*5)

'2016-08-25'

In [51]:
cantidad_ventas=100
data_tipocomprobante = [
     {'tipo': 'Factura'}, 
     {'tipo': 'Recibo'}
]
data_ventas=[]
# ahora solo necesito a las personas que son clientes
for index, venta in enumerate(range(cantidad_ventas)):
    nueva_venta={
        'idventa': index,
        'idcliente': random.sample(data_clientes,1)[0]['idpersona'],
        'idusuario': random.sample(data_operadores,1)[0]['idusuario'],
        'tipo_comprobante': random.sample(data_tipocomprobante,1)[0]['tipo'],
        'serie_comprobante': str(uuid.uuid4())[:7],
        'num_comprobante': str(fake.unique.random_number(digits=10)),
        'fecha': fake.date_between(start_date=fecha_inicio, end_date=fecha_actual).strftime('%Y-%m-%d'),
        'impuesto':0,
        'total':0,
        'estado':'1'
    }
    data_ventas.append(nueva_venta)
data_ventas
#insertamos data en la tabla ventas los totales no los puse porque al meter los detalles los voy a calcular
insertData2SQL(data_ventas,'venta',driver)

Se han insertado 100 nuevos registros

### POBLANDO DETALLE DE VENTAS

In [71]:
contador=0
data_detalleventa=[]
for venta in data_ventas:
    id_venta = venta['idventa']
    repeticiones = random.randint(1, 3)  #para ingresar a veces 1 o 2 o 3 lineas al detalle
    for _ in range(repeticiones):
        contador=contador+1
        nuevo_detalle={
        'iddetalle_venta': contador,    
        'idventa': id_venta,
        'idarticulo': random.sample(data_articulo,1)[0]['idarticulo'],
        'cantidad': random.randint(1, 10),
        'precio': round(random.uniform(1, 1000), 2),
        'descuento': 0
        }
        data_detalleventa.append(nuevo_detalle)
data_detalleventa
insertData2SQL(data_detalleventa,'detalle_venta',driver)

Se han insertado 189 nuevos registros

### POBLANDO INGRESOS

In [74]:
#creando un diccionario solo con personas tipo proveedores
data_proveedores = [persona for persona in data_persona if persona['tipo_persona'] == 'proveedor']
#creando un diccionario solo con usuarios operadores
data_operadores = [usuario for usuario in data_usuario if usuario['idrol'] == 2]

In [76]:
#iniciamos a poblar los ingresos
cantidad_ingresos=100
data_tipocomprobante = [
     {'tipo': 'Factura'}, 
     {'tipo': 'Recibo'}
]
data_ingresos=[]
# ahora solo necesito a las personas que son clientes
for index, ingreso in enumerate(range(cantidad_ingresos)):
    nuevo_ingreso={
        'idingreso': index,
        'idproveedor': random.sample(data_proveedores,1)[0]['idpersona'],
        'idusuario': random.sample(data_operadores,1)[0]['idusuario'],
        'tipo_comprobante': random.sample(data_tipocomprobante,1)[0]['tipo'],
        'serie_comprobante': str(uuid.uuid4())[:7],
        'num_comprobante': str(fake.unique.random_number(digits=10)),
        'fecha': fake.date_between(start_date=fecha_inicio, end_date=fecha_actual).strftime('%Y-%m-%d'),
        'impuesto':0,
        'total':0,
        'estado':'1'
    }
    data_ingresos.append(nuevo_ingreso)
data_ingresos
#insertamos data en la tabla ingreso los totales no los puse porque al meter los detalles los voy a calcular
insertData2SQL(data_ingresos,'ingreso',driver)

Se han insertado 100 nuevos registros

### POBLANDO DETALLE DE INGRESOS

In [78]:
contador=0
data_detalleingreso=[]
for ingreso in data_ingresos:
    id_ingreso = ingreso['idingreso']
    repeticiones = random.randint(1, 3)  #para ingresar a veces 1 o 2 o 3 lineas al detalle
    for _ in range(repeticiones):
        contador=contador+1
        nuevo_detalle={
        'iddetalle_ingreso': contador,    
        'idingreso': id_ingreso,
        'idarticulo': random.sample(data_articulo,1)[0]['idarticulo'],
        'cantidad': random.randint(1, 10),
        'precio': round(random.uniform(1, 1000), 2)
        }
        data_detalleingreso.append(nuevo_detalle)
data_detalleingreso
insertData2SQL(data_detalleingreso,'detalle_ingreso',driver)

Se han insertado 198 nuevos registros